services:
  init-clickhouse:
    image: 'clickhouse/clickhouse-server:25.5.6-alpine'
    command:
      - bash
      - '-c'
      - "version=\"v0.0.1\"\nnode_os=$$(uname -s | tr '[:upper:]' '[:lower:]')\nnode_arch=$$(uname -m | sed s/aarch64/arm64/ | sed s/x86_64/amd64/)\necho \"Fetching histogram-binary for $${node_os}/$${node_arch}\"\ncd /tmp\nwget -O histogram-quantile.tar.gz \"https://github.com/SigNoz/signoz/releases/download/histogram-quantile%2F$${version}/histogram-quantile_$${node_os}_$${node_arch}.tar.gz\"\ntar -xvzf histogram-quantile.tar.gz\nmkdir -p /var/lib/clickhouse/user_scripts/histogramQuantile\nmv histogram-quantile /var/lib/clickhouse/user_scripts/histogramQuantile\n"
    restart: on-failure
    exclude_from_hc: true
    logging:
      options:
        max-size: 50m
        max-file: '3'
    volumes:
      - '/data/clickhouse:/var/lib/clickhouse/'
  clickhouse:
    image: 'clickhouse/clickhouse-server:25.5.6-alpine'
    tty: true
    depends_on:
      init-clickhouse:
        condition: service_completed_successfully
    healthcheck:
      test:
        - CMD
        - wget
        - '--spider'
        - '-q'
        - '0.0.0.0:8123/ping'
      interval: 30s
      timeout: 5s
      retries: 3
    ulimits:
      nproc: 65535
      nofile:
        soft: 262144
        hard: 262144
    logging:
      options:
        max-size: 50m
        max-file: '3'
    environment:
      - CLICKHOUSE_SKIP_USER_SETUP=1
    volumes:
      -
        type: bind
        source: /data/clickhouse
        target: /var/lib/clickhouse/
      -
        type: bind
        source: ./clickhouse/custom-function.xml
        target: /etc/clickhouse-server/custom-function.xml
      -
        type: bind
        source: ./clickhouse/users.xml
        target: /etc/clickhouse-server/users.xml
      -
        type: bind
        source: ./clickhouse/config.xml
        target: /etc/clickhouse-server/config.xml
  signoz:
    image: 'signoz/signoz:v0.97.1'
    expose:
      - 8080
    depends_on:
      clickhouse:
        condition: service_healthy
      schema-migrator-sync:
        condition: service_completed_successfully
    logging:
      options:
        max-size: 50m
        max-file: '3'
    command:
      - '--config=/root/config/prometheus.yml'
    volumes:
      -
        type: bind
        source: ./prometheus.yml
        target: /root/config/prometheus.yml
      -
        type: bind
        source: /data/signoz
        target: /var/lib/signoz/
    environment:
      - SERVICE_URL_SIGNOZ_8080
      - 'SIGNOZ_JWT_SECRET=${SERVICE_REALBASE64_JWTSECRET}'
      - 'SIGNOZ_TELEMETRYSTORE_CLICKHOUSE_DSN=tcp://clickhouse:9000'
      - SIGNOZ_SQLSTORE_SQLITE_PATH=/var/lib/signoz/signoz.db
      - DASHBOARDS_PATH=/root/config/dashboards
      - STORAGE=clickhouse
      - GODEBUG=netdns=go
      - DEPLOYMENT_TYPE=docker-standalone-amd
      - 'SIGNOZ_STATSREPORTER_ENABLED=${SIGNOZ_STATSREPORTER_ENABLED:-true}'
      - 'SIGNOZ_EMAILING_ENABLED=${SIGNOZ_EMAILING_ENABLED:-false}'
      - 'SIGNOZ_EMAILING_SMTP_ADDRESS=${SIGNOZ_EMAILING_SMTP_ADDRESS}'
      - 'SIGNOZ_EMAILING_SMTP_FROM=${SIGNOZ_EMAILING_SMTP_FROM}'
      - 'SIGNOZ_EMAILING_SMTP_AUTH_USERNAME=${SIGNOZ_EMAILING_SMTP_AUTH_USERNAME}'
      - 'SIGNOZ_EMAILING_SMTP_AUTH_PASSWORD=${SIGNOZ_EMAILING_SMTP_AUTH_PASSWORD}'
      - SIGNOZ_ALERTMANAGER_PROVIDER=signoz
      - 'SIGNOZ_ALERTMANAGER_SIGNOZ_GLOBAL_SMTP__AUTH__PASSWORD=${SIGNOZ_ALERTMANAGER_SIGNOZ_GLOBAL_SMTP__AUTH__PASSWORD}'
      - 'SIGNOZ_ALERTMANAGER_SIGNOZ_GLOBAL_SMTP__AUTH__USERNAME=${SIGNOZ_ALERTMANAGER_SIGNOZ_GLOBAL_SMTP__AUTH__USERNAME}'
      - 'SIGNOZ_ALERTMANAGER_SIGNOZ_GLOBAL_SMTP__FROM=${SIGNOZ_ALERTMANAGER_SIGNOZ_GLOBAL_SMTP__FROM}'
      - 'SIGNOZ_ALERTMANAGER_SIGNOZ_GLOBAL_SMTP__SMARTHOST=${SIGNOZ_ALERTMANAGER_SIGNOZ_GLOBAL_SMTP__SMARTHOST}'
      - DOT_METRICS_ENABELD=true
    healthcheck:
      test:
        - CMD
        - wget
        - '--spider'
        - '-q'
        - 'localhost:8080/api/v1/health'
      interval: 30s
      timeout: 5s
      retries: 3
  otel-collector:
    image: 'signoz/signoz-otel-collector:v0.129.7'
    ports:
      - '4317:4317'
      - '4318:4318'
    depends_on:
      clickhouse:
        condition: service_healthy
      schema-migrator-sync:
        condition: service_completed_successfully
      signoz:
        condition: service_healthy
    logging:
      options:
        max-size: 50m
        max-file: '3'
    command:
      - '--config=/etc/otel-collector-config.yaml'
      - '--manager-config=/etc/manager-config.yaml'
      - '--copy-path=/var/tmp/collector-config.yaml'
      - '--feature-gates=-pkg.translator.prometheus.NormalizeName'
    volumes:
      -
        type: bind
        source: /opt/signoz/config/otel-collector-config.yaml
        target: /etc/otel-collector-config.yaml
      -
        type: bind
        source: ./otel-collector-opamp-config.yaml
        target: /etc/manager-config.yaml
    environment:
      - SERVICE_URL_OTELCOLLECTORHTTP_4318
      - 'OTEL_RESOURCE_ATTRIBUTES=host.name=signoz-host,os.type=linux'
      - LOW_CARDINAL_EXCEPTION_GROUPING=false
    healthcheck:
      test: 'bash -c "exec 6<> /dev/tcp/localhost/13133"'
      interval: 30s
      timeout: 5s
      retries: 3
  schema-migrator-sync:
    image: 'signoz/signoz-schema-migrator:v0.129.7'
    command:
      - sync
      - '--dsn=tcp://clickhouse:9000'
      - '--cluster-name=cluster'
    depends_on:
      clickhouse:
        condition: service_healthy
    restart: on-failure
    exclude_from_hc: true
    logging:
      options:
        max-size: 50m
        max-file: '3'
  schema-migrator-async:
    image: 'signoz/signoz-schema-migrator:v0.129.7'
    depends_on:
      clickhouse:
        condition: service_healthy
      schema-migrator-sync:
        condition: service_completed_successfully
    restart: 'no'
    exclude_from_hc: true
    logging:
      options:
        max-size: 50m
        max-file: '3'
    command:
      - async
      - '--dsn=tcp://clickhouse:9000'
      - '--cluster-name=cluster'
      - '--up'
